/*  */
/* GENERAL */
/*  */

body {
    background-color: #E4E7E9;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}

input{
    background-color: transparent;
    border: none;
}

.mobile-container {
    width: 375px;
    min-height: 1000px;
    background-color: #FFF;
}

.inner-mobile-container {
    width: 90%;
}

.sub-header {
    color: #797979;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status-bar {
    width: inherit;
    position:fixed;
    margin-top: 0;
    z-index: 100000;
}

.noob-color {
    background-color: #019AE8;
}

.noob-color-font {
    color: #019AE8;
}

.noob-green {
    color: #63BF94;
}

.noob-light-green {
    color: #9ED7BC;
}

.noob-red {
    color: #D42A2A;
}

.noob-light-red {
    color: #E59089;
}

.noob-grey {
    color: #9E9E9E;
}



/*  */
/* HEADERNAV */
/*  */

.headernav {
    width: inherit;
    position:fixed;
    margin-top: 24px;
    z-index: 100000;
}

.zmdi-search, .search-arrow {
    color: #FFF;
}

/*  */
/* FOOTER NAV */
/*  */

.footernav {
    width: inherit;
    position:fixed;
    bottom: 0px;
    z-index: 100000;
    background-color: #FAFAFA;
}

.footer-icon {
    font-size: 25px;
    padding-left: 18px;
    padding-right: 18px;
}

.footer-icon-inactive {
    color: #7F7F7F;
}

.footernav a {
    color: #7F7F7F;
}

/*  */
/* SEARCH RESULT */
/*  */

.title-def {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.upvote {
    transition: 0.1s;
    font-size: 16px;
    color: #9ED7BC;
}

.vote1 {
    transition: 0.1s;
    font-size: 20px;
    color: #63BF94;
}

.downvote {
    transition: 0.1s;
    font-size: 16px;
    color: #E59089;
}

.vote2 {
    transition: 0.1s;
    font-size: 20px;
    color: #D42A2A;
}

/*  */
/* DEFINITION */
/*  */


/*  */
/* ADD DEFINITION */
/*  */

.md-form label, .md-form label.active  {
    color: #019AE8;
    font-weight: 400;
    font-size: 17px;
}

.md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=email], .md-form input[type=number], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], .md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {
    border-bottom: 1px solid #019AE8;
}

.md-form input[placeholder], .md-form input[placeholder].active, .md-form textarea[placeholder]  {
    color: #939393;
}

::placeholder {
    color: #939393 !important;
}

/* YOUR DEFINITION */
/*  */
.modal-footer, .modal-header {
    border: 1px solid transparent !important;
}
